In [59]:
import mysql.connector
import pandas as pd
#menggunakan mysql workbench

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'Berkah1234',
    database = 'sakila'
)

In [3]:
mycursor = mydb.cursor()

In [4]:
query = 'select * from film'

In [5]:
mycursor.execute(query)

In [6]:
result = mycursor.fetchall()

In [7]:
df = pd.DataFrame(result, columns = mycursor.column_names)
df.head(10)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,{Deleted Scenes},2006-02-15 05:03:42
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,{Trailers},2006-02-15 05:03:42
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,None,6,4.99,63,24.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42

In [39]:
df.head(100)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,BREAKING HOME,A Beautiful Display of a Secret Agent And a Mo...,2006,1,None,4,2.99,169,21.99,PG-13,"{Commentaries, Trailers}",2006-02-15 05:03:42
96,97,BRIDE INTRIGUE,A Epic Tale of a Robot And a Monkey who must V...,2006,1,None,7,0.99,56,24.99,G,"{Commentaries, Trailers, Behind the Scenes}",2006-02-15 05:03:42
97,98,BRIGHT ENCOUNTERS,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,None,4,4.99,73,12.99,PG-13,{Trailers},2006-02-15 05:03:42
98,99,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,1,None,7,2.99,136,14.99,PG,{Trailers},2006-02-15 05:03:42
99,100,BROOKLYN DESERT,A Beautiful Drama of a Dentist And a Composer ...,2006,1,None,7,4.99,161,21.99,R,{Commentaries},2006-02-15 05:03:42

In [57]:
sql_df (
'''
select * from film
'''
)

NameError: name 'sql_df' is not defined

In [58]:
df.head(10)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,{Deleted Scenes},2006-02-15 05:03:42
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,{Trailers},2006-02-15 05:03:42
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,None,6,4.99,63,24.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42